<% if @player.availability == true || @player.availability == nil %>
<% status = "available!" %>
<% else %>
<% status = "not available..." %>
<% end %>

<h3>This player is <%= status %></h3>

<%= simple_form_for [@player, @booking] do |f| %>
  <%= f.error_notification %>

    <%= f.input :start_date,
                required: true,
                autofocus: true %>
    <%= f.input :end_date,
                required: true,
                autofocus: true %>

  <div class="form-actions">
    <%= f.button :submit, "Book this player!", class: "btn btn-primary" %>
  </div>
<% end %>

<%= @player.name %>
