<div class="player-container">
  <h1><%= @player.name %> </h1>
  <div class = "card-product">

    <div class="avatar">
      <%= cl_image_tag @player.photo, height: 300, width: 300, crop: :fill %>
    </div>
    <br>

    <!-- <img class = "img" src="https://metrouk2.files.wordpress.com/2019/02/gettyimages-1130278499-1.jpg?quality=90&strip=all&zoom=1&resize=644%2C428" alt="">
    <br> -->

    <div class="card-product-infos">
      <div class = "info">
        <h2>Nationality</h2>
        <p><%= @player.nationality %></p>
        <img src="https://cdn.countryflags.com/thumbs/portugal/flag-400.png" alt="">
      </div>
      <div class = "info">
        <h2>Position</h2>
        <p><%= @player.position %> </p>
      </div>
      <div class = "info">
        <h2>Age</h2>
        <p><%= @player.age %></p>
      </div>
      <div class = "info">
        <h2>Value per match</h2>
        <p><%= @player.value_per_match%>€</p>
      </div>
      <div class = "info">
        <h2>Club</h2>
        <p><%= @player.club.name%></p>
      </div>
    </div>
    <% if @player.availability == true %>
        <%#= "Player is available" %> <%#= '<i class="fas fa-check"></i>'.html_safe %>
        <%= link_to "Book now!", new_player_booking_path(@player.id), class: "btn btn-primary" %>
      <% else %>
        <%= "Player is already booked" %> <%= '<i class="fas fa-times"></i>'.html_safe %>
      <% end %>
  </div>

  <div class="stats">

    <div class="row">
      <div class="col">
        <div class="card-product-stats">
          <div class = "info">
            <h2>Games played</h2>
            <p><%= Player.find(@player.id).stats.sum(:games_played) %></p>
          </div>
          <div class = "info">
            <h2>Goals</h2>
            <p><%= Player.find(@player.id).stats.sum(:goals) %></p>
          </div>
        </div>

        <div class="card-product-stats">
          <div class = "info">
            <h2>Assits</h2>
            <p><%= Player.find(@player.id).stats.sum(:assists) %></p>
          </div>
          <div class = "info">
            <h2>Minutes played</h2>
            <p><%= Player.find(@player.id).stats.sum(:goals)*90 %></p>
          </div>
          <div class = "info">
            <h2>Fitness</h2>
            <p><%= Player.find(@player.id).stats.first.form %></p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card-product-stats" style="height: 395px;">
        </div>
      </div>
    </div>

  </div>
  <div>
    <% @player.reviews.each do |review| %>
      <%= review.content %> | <% review.stars.times do |i| %>
      <%= '<i class="fas fa-star"></i>'.html_safe %>
      <% end %> <br>
    <% end %>
  </div>
  <%= link_to "Review this player", new_player_review_path(@player.id), class: "btn btn-primary" %>

  <div>
    <%#= @player.club.city %>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>


  <div>
    <%= simple_form_for(@player) do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <!-- Add by Miguel Cloudary -->
      <%= f.submit 'Upload Image', class: 'btn btn-primary margin-bottom' %>
  <% end %>
  </div>

</div>

<br>
<br>

